
body {
margin: auto;
width: 960;
text-align: center;
background: #E7DBC0;
color: #431F10;
font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(#C87620, #E7DBC0 90%);
  height: 90px;
  width: 100%;
  line-height: 80px;
  font-size: 60px;
  color: #431F10;
  
}

a {
  text-decoration: none;
  color: #431F10;
}
.nav li {
  display: inline;
  padding: 10px 10px;
  margin: 10px 10px;
  font-size: 1.5rem;
  
  
}


nav a:hover {
  color: #9b4c38;
}

header a:hover {
  color: #9b4c38;
}

#main {
  margin-top: 50px;
}
.sales-data section {
  margin: auto;
  border: 3px solid #B3B3A0;
  background-color: rgb(255,255,255);
  border-radius: 10px;
  width: 400px;
  margin-bottom: 5px;
  box-shadow: -4px -3px 8px  black;
}

footer p {
  padding-bottom: 4px;
  display: bottom;
}

#main h4 {
  font-size: 1.5em;
  color:#ece4d0;
  background: #eb92348c
}

#main {
  background-color: #E7DBC0;
  border: 2px solid #c08b0f3d;
  border-radius: 6px 6px 0 0 ;
  border-bottom: none;
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
}

#body {
  background-color: #E7DBC0;
  border: 2px solid #c08b0f3d;
  border-radius: ;
  border-top: none;
  max-width: 960px;
  margin: auto;
  margin-top: 0px;
  padding-bottom: 20px

}

#location {
  padding-bottom: 140px;
}

.body p {
  line-height: 0.5;
;
}
.header {
  font-size: 2em;
  font-weight: bold;
  padding: 20px 20px;
}

.storelocation {
  font-size: 1.5em;
}

.storelocation a:hover {
  color: #9b4c38;
}

/* table */

table{
  
  background-color: #E7DBC0;
  border: 2px solid #c08b0f3d;
  border-radius: ;
  border-top: none;
  max-width: 960px;
  margin: auto;
  margin-top: 200px;
  margin-bottom: 300px;
  padding-bottom: 20px
}

th {
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.5)
  
}

td {
  background-color: rgb(55, 56, 56);
  color: white;
  border: 2px solid #E7DBC0;;
  border-radius:8px;
  padding: 1em;
  margin: 1em;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.5)
}

tr :last-child {
  color: #431F10;
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.5)
}

tr :first-child {
  color: #431F10;
  background: linear-gradient(#C87620, #E7DBC0 90%);;
  border: 2px solid #E7DBC0;;
  padding: 1em;
  margin: 1em;
  font-weight: bold;
  border-radius:8px;
  box-shadow: -2px 5px 2px rgba(0, 0, 0, 0.5)
}